body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    height: 100%;
  }
  
  .loginForm {
    padding: 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
  }
  #button_div {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-gap: 2px; /* Gap between columns */ 
    padding-bottom: 10px;
    margin-bottom: 10px;
 }
  #button_div button {
    background-color: #724caf; /* Green background */
    color: white; /* White text */
    padding: 12px 24px; 
    border-radius: 15px;
  }

  